:root{
    --ff-primary: 'Roboto Slab', sarif;
    --ff-secondary: 'Montserrat', sarif;

    --fw-reg:  300;
    --fx-bold: 900;

    ---clr--background:  #E5E5E5;
    --clr-font:   #332F2C;   
    --clr-boxbg: #FFFFFF;    

    --fs-h1:   68px;
    --fs-h2:   44px;
    --fs-h3:   19px;
    --fs-body: 18px;
}