:root{
    --ff-primary: 'Roboto Slab';
    --ff-secondary: 'Montserrat';

    --fw-reg:  300;
    --fx-bold: 900;

    --clr--background:  #E5E5E5;
    --clr-font:   #332F2C;   
    --clr-boxbg: #FFFFFF; 
    --clr-header: #DE7B03;   

    --fs-h1:   68px;
    --fs-h2:   44px;
    --fs-nav:  20px;
}

/* menubar css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--clr-header);
}

li{
    list-style: none;
}

a{
    color: var(--clr-boxbg);
    text-decoration: none;
    font-family: var(--ff-primary);
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: var(--clr-font);
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--clr-header);
        width: 100%;
        opacity: 95%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }}

    /*menubar css */

h1 {
padding: 2%;
text-align: center;
margin: 0;
margin-top: 3%;
width: auto;
color:var(--clr-font);
font-family: var(--ff-primary);
}

.gridevents{
    display:grid;
    grid-template-areas:
     'a'
     'b'
     'c'
     'd'
     'e'
     'f';
    }

.grid1{grid-area: a;}
.grid2{grid-area: b;}
.grid3{grid-area: c;}
.grid4{grid-area: d;}
.grid5{grid-area: e;}
.grid6{grid-area: f;}

#fastelavn{
display: block;
margin-left: auto;
margin-right: auto;
width: 389px;
height: 266px;
}

h2{
    padding: 0%;
    text-align: center;
    margin: 0;
    margin-top: 2%;
    width: auto;
    color:var(--clr-font);
    font-family: var(--ff-primary);
}

#eventtekst{
text-align: center;
font-family: var(--ff-secondary);
}



/* INDEX */

/* UPCOMMIN EVENTS */ 

/* BEERPONG */ 

/* AFSTEMNING */ 

/* INFO */ 