:root{
  --ff-primary: 'Roboto Slab';
  --ff-secondary: 'Montserrat';

  --fw-reg:  300;
  --fx-bold: 900;

  --clr--background:  #E5E5E5;
  --clr-font:   #332F2C;   
  --clr-boxbg: #FFFFFF; 
  --clr-header: #DE7B03;   

  --fs-h1:   34px;
  --fs-h2:   20px;
  --fs-nav:  20px;
}

body {
  background-color:var(--clr--background)
}

/* splashpage */
.splash {
  display: flex;
  position: fixed;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #DE7B03;
  z-index: 200;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade.in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.splash.display-none {
  display: flex;
  position: fixed;
  align-items: center;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #DE7B03;
  z-index: -10;
  transition: all 0.5s;
}
/* splashpage slut */


/* menubar */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: var(--clr-header);
}

li{
  list-style: none;
}

a{
  color: var(--clr-boxbg);
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: var(--clr-font);
}

.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-boxbg);
}

@media (max-width:768px){
.hamburger{
  display: block;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}


.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--clr-header);
  width: 100%;
  opacity: 90%;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-nav);
  text-align: center;
  transition: 0.3s;
  z-index: 9999;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}}
/* menubar slut*/


/* Base styling ref. */

.overskrift{
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fx-bold);
  text-align: center;
}
  
.boks1 {
  width: auto;
  height: auto;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 40%);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--ff-secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  color: var(--clr-font);
  text-align: center;
}
  
  
.boks2 {
  width: auto;
  height: auto;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 40%);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fx-bold);
  text-align: center;
}
  
  
.boks3 {
  width: auto;
  height: auto;
  margin-left:auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 40%);
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  color: var(--clr-font);
  text-align: center;
  font-weight: var(--fx-bold);
}
  
.orange {
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-left:auto;
  margin-right: auto;
  background-color: var(--clr-header);
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  color: #FFFFFF;
  text-align: center;
  font-weight: var(--fx-bold);
  padding-top: 15px;
  padding-bottom: 15px;
}
.white {
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--clr-boxbg);
  font-family: var(--ff-secondary);
  color: var(--clr-font);
  line-height: 50px;
  text-align: right;
  padding-right: 5px;
  font-weight: var(--fw-reg);
}
  
.dark {
  width: 50px;
  height: 50px;
  margin-top: -50px;
  background-color: var(--clr-font);
  font-family: var(--ff-primary);
  color: var(--clr-boxbg);
  text-align: center;
  font-weight: var(--fx-bold);
}
  
.orange2 {
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-left:auto;
  margin-right: auto;
  background-color: var(--clr-header);
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  color: #FFFFFF;
  text-align: center;
  font-weight: var(--fw-reg);
  padding-top: 5px;
  padding-bottom: 5px;
}
  
.orange3 {
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-left:auto;
  margin-right: auto;
  background-color: var(--clr-header);
  opacity: 50%;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h2);
  color: #FFFFFF;
  text-align: center;
  font-weight: var(--fw-reg);
  padding-top: 5px;
  padding-bottom: 5px;
}  
/* Base styling ref slut*/


/* Galleri */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  min-width: auto;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -5%;
  padding: 16px;
  color: var(--clr-header);
  font-weight: var(--fx-bold);
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 28px 1px 1px 28px;
}

/* Position the 'prev button' to the left */
.prev {
  left: 0px;
  border-radius: 1px 28px 28px 1px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--clr--background);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.active, .dot:hover {
  background-color: var(--clr-header);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Galleri slut*/


/* info ikoner */
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 50px 100px 50px 100px;
}
  /* info ikoner slut*/


/* login setup */
.tekstboks-ucl-login {
  background-color:  #19444D;
  width: auto;
  color: #FFFFFF;
  padding: 5px;
  font-family: sans-serif;
}
  
.tekstboks-ucl-login2 {
  width: auto;
  color: var(--clr-font);
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
}
/* login setup slut*/


/*kampagneknap*/
.hidden{
  display: none;
}
  
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  align-items: center;
}

button {
  width: 250px;
  height: auto;
  border-radius: 25px;
  margin-left:auto;
  margin-right: auto;

  background-color: var(--clr-header);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  color: var(--clr-boxbg);
  text-align: center;
  font-weight: var(--fw-reg);
}
/*kampagneknap slut*/


/* Afstemning */ 
.wrapper
{
  margin: auto;
  box-sizing: border-box;
  font-family: var(--ff-secondary);
  color: var(--clr-boxbg);
}

::selection{
  color: #fff;
  background: var(--clr-boxbg);
}
.wrapper{
  background: var(--clr-header);
  border-radius: 25px;
  padding: 25px;
  max-width: 280px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 22px;
  font-weight: var(--fx-bold);
}
.wrapper .poll-area{
  margin: 20px 0 15px 0;
}
.poll-area label{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}
.poll-area label:hover{
  border-color: #ddd;
}
label.selected{
  border-color: var(--clr-boxbg)!important;
}
label .row{
  display: flex;
  pointer-events: none;
  justify-content: space-between;
}
label .row .column{
  display: flex;
  align-items: center;
}
label .row .circle{
  height: 19px;
  width: 19px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
label.selected .row .circle{
  border-color: var(--clr-boxbg);
}
label .row .circle::after{
  content: "";
  height: 11px;
  width: 11px;
  background:var(--clr-boxbg);
  border-radius: inherit;
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}
.poll-area label:hover .row .circle::after{
  display: block;
  background: var(--clr-boxbg);
}
label.selected .row .circle::after{
  display: block;
  background: var(--clr-font)!important;
}
label .row span{
  font-size: 16px;
  font-weight: 500;
}
label .row .percent{
  display: none;
}
label .progress{
  height: 6px;
  width: 100%;
  position:relative;
  background: var(--clr-font);
  margin: 8px 0 3px 0;
  border-radius: 30px;
  display: none;
  pointer-events: none;
}
label .progress:after{
  position: absolute;
  content: "";
  height: 100%;
  background: #ccc;
  width: calc(1% * var(--w));
  border-radius: inherit;
  transition: all 0.2s ease;
}
label.selected .progress::after{
  background: var(--clr-boxbg);
}
label.selectall .progress,
label.selectall .row .percent{
  display: block;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
/* Afstemning slut*/ 